<launch>

  <arg name="multimap_file" default="$(find utexas_gdc)/maps/real/multimap/multimap.yaml" />
  <arg name="robot" default="marvin" />

  <!-- launch the multi map server for the simulated world -->                                                                 
  <node name="multi_level_map_server" pkg="multi_level_map_server" type="multi_level_map_server">                        
    <param name="map_file" value="$(arg multimap_file)" />               
  </node>

  <group ns="$(arg robot)">

    <!-- also launch the level multiplexer and the level selector -->
    <node name="level_mux" pkg="multi_level_map_utils" type="level_mux">                                                 
      <!-- <param name="global_frame_id" value="level_mux/map" /> -->
      <param name="global_frame_id" value="$(arg robot)/level_mux/map" />
      <remap from="map_metadata" to="/map_metadata" />
    </node>

    <node name="level_selector" pkg="multi_level_map_utils" type="level_selector">
      <remap from="map_metadata" to="/map_metadata" />
    </node>

    <!-- launch the interruptable action server -->
    <node name="move_base_interruptable" pkg="segbot_apps" type="move_base_interruptable_server" />
    <node name="move_base_interruptable_simple" pkg="segbot_apps" type="move_base_interruptable_simple" />

    <!-- start the and the robot -->
    <include file="$(find segbot_bringup)/launch/segbot_v2.launch"> 
      <arg name="tf_prefix" value="$(arg robot)" />
    </include>

    <include file="$(find segbot_navigation)/launch/amcl.launch">
      <arg name="map_service" value="level_mux/static_map" />                                                                       
      <arg name="map_topic" value="level_mux/map" />                                                                       
      <arg name="map_frame_id" value="$(arg robot)/level_mux/map" /> 
      <arg name="base_frame_id" value="$(arg robot)/base_footprint" />
      <arg name="odom_frame_id" value="$(arg robot)/odom" />
    </include>

    <include file="$(find segbot_navigation)/launch/move_base_eband.launch">
      <arg name="map_topic" value="segbot_logical_navigator/map" />                                                                       
      <arg name="move_base_server" value="move_base_interruptable" />
      <arg name="global_frame" value="level_mux/map" /> 
    </include>

    <!-- Finally, launch the segbot_logical_navigator to do low-level logical navigation. -->
    <node name="segbot_logical_navigator" pkg="segbot_logical_translator" type="segbot_logical_navigator">
      <!-- <param name="global_frame_id" value="level_mux/map" /> -->
      <param name="global_frame_id" value="$(arg robot)/level_mux/map" />
      <remap from="move_base" to="move_base_interruptable" />
      <remap from="map_metadata" to="/map_metadata" />
    </node>

    <!-- launch vizualization -->                                                                                          
    <node name="rviz" type="rviz_runner.sh" pkg="segbot_apps" args="$(find segbot_apps)/nav_eband.rviz $(arg robot)" />

    <!-- launch the segbot gui -->
    <node name="gui" type="question_dialog_plugin" pkg="segbot_gui" />

  </group>

</launch>
